* {
  min-height: 0;
  min-width: 0;
  font-family: Lexend, "JetBrainsMono NFP";
  font-size: 16px;
  font-weight: 600;
}


window#waybar {
  background-color: rgba(17, 17, 27, 0.0);
  border-bottom: 1px solid rgba(137, 180, 250, 0.0);
  transition: background-color 0.3s ease;
}


#workspaces button,
#clock,
#pulseaudio,
#backlight,
#custom-power,
#custom-notification,
#cpu,
#battery,
#disk,
#temperature,
#tray,
#memory,
#window,
#mpris {
  padding: 0.3rem 0.6rem;
  margin: 0.2rem 0.15rem;
  border-radius: 50px;

  background-color: rgba(30, 30, 30, 0.0);
  border: 1px solid rgba(255,255,255,0.0);

  transition: all 0.2s ease;
}


#disk,
#temperature,
#cpu,
#memory,
#clock,
#clock.simpleclock,
#window,
#battery,
#pulseaudio,
#pulseaudio.muted
{color:#5a5a5a; }
#window {
  min-width: 0;
}
#backlight,
#mpris.playing,
#mpris.paused,
#custom-power,
#custom-notification
{ color: #5a5a5a; }

#tray {
  padding-right: 8px;
}


tooltip {
  background-color: #181825;
  border: 1px solid #89b4fa;
  border-radius: 8px;
}
